@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Roboto, sans-serif;
  color: #fff;
  background: #171717;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #401a4c;
  padding: 0.7rem 2.5rem;
  border-radius: 0;
}

.container nav img {
  width: 46px;
  cursor: pointer;
}

.container nav .right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container nav .right-nav img {
  width: 25px;
  cursor: pointer;
}

.container .right-nav h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
}

.container .flash-box {
  display: flex;
  margin-top: 5.6rem;
}

.container .flash {
  align-self: center;
  height: 40px;
}

.container h1 {
  font-family: Roboto, "Poppins", sans-serif;
  font-size: 2.125rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container h1 a {
  text-decoration: none;
  color: #fff;
}

.container h1 span {
  color: #dc3545;
}

.container .error {
  display: none;
  text-align: center;
}

.container .error h4 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #dc3545;
  margin-top: 40px;
}

.container .error h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffc107;
  margin-top: 30px;
}

.container .search-box {
  margin-top: 100px;
  background: #401a4c;
  padding: 0;
  border-radius: 7px;
  transition: all 0.5s;
}

.container .search-box:hover {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(255, 0, 145, 80%);
}

.container .search-box input {
  font-family: "Poppins", Roboto, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  background: transparent;
  border: none;
  width: 550px;
  outline: none;
  margin-left: 25px;
}

.container .search-box input::placeholder {
  font-family: "Poppins", Roboto, sans-serif;
  font-weight: 500;
  color: #fff;
  opacity: 50%;
}

.container .search-box button {
  font-family: "Poppins", Roboto, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #ff0091;
  background: #fff;
  border: none;
  border-radius: 7px;
  padding: 3px 10px;
  margin: 5px 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.container .search-box button:hover {
  color: #fff;
  background: #ff0091;
}

.info-box {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  background: rgba(255, 255, 255, 0.025);
  padding: 3rem 2rem;
  border-radius: 10px;
  margin-bottom: 6rem;
}

.info-box h3 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  opacity: 80%;
}

.info-box h4 {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: #ff0091;
  opacity: 80%;
  margin-top: 20px;
}

.info-box p {
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
  opacity: 50%;
  margin-top: 50px;
}

.info-box a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 50%;
  cursor: pointer;
  margin-top: 50px;
}

.info-box a:hover {
  opacity: 80%;
}

@media only screen and (max-width: 700px) {
  .container nav {
    width: 100%;
    border-radius: 0;
    padding: 1rem;
  }

  .container nav img {
    width: 36px;
  }

  .container nav .right-nav img {
    width: 23px;
  }

  .container .right-nav h2 {
    font-size: 1.1rem;
  }

  .container .flash-box {
    margin-top: 7rem;
  }

  .container h1 {
    font-size: 2.2rem;
  }

  .container .error h4 {
    font-size: 0.9rem;
    margin-top: 1.25rem;
  }

  .container .error h3 {
    font-size: 1.05rem;
    margin-top: 1.25rem;
  }

  .container .search-box {
    margin-top: 3.75rem;
  }

  .container .search-box input {
    width: 250px;
    font-size: 0.9rem;
  }

  .container .search-box button {
    font-size: 1rem;
  }

  .info-box {
    margin-top: 5rem;
    width: 350px;
    margin-bottom: 4rem;
  }

  .info-box h3 {
    font-size: 1rem;
  }

  .info-box h4 {
    font-size: 0.7rem;
  }

  .info-box p {
    font-size: 0.8rem;
  }

  .info-box a {
    font-size: 0.7rem;
  }
}
